:root {
    --main-color: aliceblue;
    --secondary-color: rgb(141, 181, 145);
    --tertiary-color : rgb(182,223,186);
    --background-color: rgb(233, 241, 249);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', sans-serif;
}


.app {
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
    padding: 10px;
    width: 600px;
    margin-top: 50px;

}

.button-container,
.info-container {
    display: flex;
    align-items: center;
    padding: 2%;
    flex-wrap: nowrap;
}

.button-container button {
    font-size: 10px;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 12px;
    background-color: transparent;
}

.edit {
    border: 1.5px solid rgb(141, 181 ,145);
    color: rgb(141, 181 ,145);
    text-transform: uppercase;
}
.edit:hover {
    background-color: rgb(182,223,186);
}
.edit:active{
    background-color: rgb(141,181,145);
    color: white;
    border: 1.5px solid rgb(141,181,145);
}

.delete {
    border: 1.5px solid rgb(255, 175, 163);
    color: rgb(255, 175, 163);
    text-transform: uppercase;
}
.delete:hover{
    background-color: rgb(255, 201, 193);
}
.delete:active{
    border: 1.5px solid rgb(255, 175, 163);
    background-color: rgb(255, 175, 163);
    color: white;
}
.create{
    border: 1.5px solid rgb(108,115,148);
    color: rgb(108, 115, 148);
    text-transform: uppercase;
}
.create:hover{
    background-color: rgb(131, 138, 172);
}
.create:active{
    border: 1.5px solid rgb(108, 115, 148);
    color: white;
}
.signout{
    border: 1.5px solid rgb(255,175,163);
    color: rgb(255, 175, 163) !important;
    text-transform: uppercase;
}
.signout:hover{
    background-color: rgb(175, 94, 94) !important;
}
.signout:active{
    border: 1.5px solid rgb(175, 81, 81);
    color: white;
    background-color: rgb(175, 81, 81);
}
input {
    margin: 11px 0;
    padding: 12px 16px;
    border-radius: 12px;
    border: 1.5px solid rgb(230,232,236);
}



/* LIST HEADER STYLE */
.list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

/*  LIST ITEM STYLE  */
.list-item {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item .tick {
    font-size: 100%;

}

/* MODAL STYLE */

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 400px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}
.modal  .form-title-container{
    display: flex;
    justify-content: space-between;
}
.modal .form-title-container button{
    border: none;
    background-color: transparent;
}
.modal .form-title-container button:active{
    color: red;
}
.modal form{
    display: flex;
    flex-direction: column;
}
.modal label{
    font-size: 13px;
}